body {
	padding: 0;
	font-size: '11pt';
	width: 76%;
	margin: 4em auto;
	font: 15px / 1.5 Calibri, Arial, sans-serif;
}

.header {

}

@media print {

}

.counselor-name {
	text-align: right;
}

.client-name {
	display: inline;
}

.date {
	display: inline;
}

.session-header-title {
	text-align: center;
	font: 600 1.2em / 2  Calibri, Arial, sans-serif;
}

.client, .counselor, .alt, .ms, .pa, .ca, .analysis {
	border-left: 1px solid gray;
	margin-bottom: 2em;
	margin-left: 145px;
	padding-left: 1em;

	&:before {
		font-size: .75em;
		font-variant: small-caps;
		font-weight: 600;
		margin-left: calc( -145px - 1em );
		margin-top: .25em;
		padding-left: 0;
		position: absolute;
		text-transform: uppercase;
	}
}

.ms:before {
	content: 'Microskill';
}

.ca:before {
	content: 'Counselor Analysis';
}

.pa:before {
	content: 'Client Analysis';
}

.alt:before {
	content: 'Alternate Intervention';
}
.client:before {
	content: 'Client';
}
.counselor:before {
	content: 'Counselor';
}

.analysis:before {
	content: 'Final Analysis';
}